*.cer
*.crt
*.der
*.key
*.pem
*.pfx
.idea/
.vscode/
[._]DS_Store
/Windows/Arduino/tools/arduino-cli/sketches/dev_mode/dev_mode.arduino.avr.uno.elf
/Windows/Arduino/tools/arduino-cli/sketches/dev_mode/dev_mode.arduino.avr.uno.hex
